body * {
font-family: "Work Sans", sans-serif;
}
.navbar-brand img {
    width:100%;
    height:100%;
}

.navbar-default {
    padding-top:10px;
    padding-bottom:10px;
}
h3 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
